<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}My Site{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
  {% block custom_css %}{% endblock %}
  {% block extra_css %}{% endblock %}
</head>
<body>

  <!-- Navbar comune -->
  <nav class="navbar">
    <a href="{{ url_for('home') }}" class="navbar-brand"><i class="bi bi-tsunami"></i>EcoWave</a>
    <!-- Menu principale -->
    <ul class="navbar-menu">
      <li><a href="{{ url_for('home') }}"class="{% if request.endpoint == 'home' %}active{% endif %}"><i class="bi bi-house-fill"></i>Home</a></li>
      <li><a href="{{ url_for('methodology') }}"class="{% if request.endpoint == 'methodology' %}active{% endif %}"><i class="bi bi-gear-fill"></i></i>Methodology</a></li>
      <li><a href="{{ url_for('carbon_app') }}"class="{% if request.endpoint == 'carbon_app' %}active{% endif %}"><i class="bi bi-calculator"></i></i>Carbon app</a></li>
    </ul>
    <!--Bottone Login/Register Navbar-->
    <a href="{{ url_for('logreg') }}" class="logreg-button"><i class="bi bi-pen"></i>Login/Register</a>
  </nav>

  {% block content %}{% endblock %}

</body>
</html>
