<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Methodology</title>

  {% extends "layout.html" %}

{% block title %}Methodology{% endblock %}

{% block extra_css %}
<!-- Video come sfondo -->
  <div class="video-background">
    <video autoplay muted loop playsinline id="bg-video">
      <source src="{{ url_for('static', filename='media/methovideo2.mp4') }}" type="video/mp4">
      Il tuo browser non supporta il tag video.
      </video>
      <div class="video-overlay"></div>
  </div>
  <link rel="stylesheet" href="{{ url_for('static', filename='methodology.css') }}">
</head>
{% endblock %}

{% block content %}
<body>

  <div class="page-content">
    <h1>Our Methodology</h1>
    <p>stuff about calculations</p>
  </div>

</body>
</html>

{% endblock %}
